<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="createNavbar.js"></script>
    <link rel="stylesheet" href="col.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="general.css" />
    <link rel="stylesheet" href="managerLogin.css" />
    <title>About Us</title>
</head>
<body>
    <div id="page" class="col-10">
        <nav class="navbar navbar-expand-sm fixed-top col-10" id="pageNavbar">
            <ul class="navbar-nav" id="leftNavbar">
                <li><img class="navbar-brand" alt="HH&N Logo" src="images/green-black-logo.png" width="80" height="70" /></li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:createManagerAppointmentsPage();">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:createManagerProductsPage();">Products</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="loginBtn" class="nav-item">
                    <a class="nav-link" href="javascript:createManagerLoginPage();">Login</a>
                </li>
            </ul>
        </nav>
        <img src="images/menCut01.jpg" class="col-12 navbar-banner" alt="Men's Cut Photo" height="500" style="display: block" />
        <img src="images/color01.jpg" class="col-12 navbar-banner" alt="Coloring Photo" height="500" style="display: none" />
        <img src="images/menCut02.jpg" class="col-12 navbar-banner" alt="Men's Cut Photo" height="500" style="display: none" />
        <img src="images/womenCut01.jpg" class="col-12 navbar-banner" alt="Women's Cut Photo" height="500" style="display: none" />
        <img src="images/menCut03.jpg" class="col-12 navbar-banner" alt="Men's Cut Photo" height="500" style="display: none" />
        <img src="images/color02.jpg" class="col-12 navbar-banner" alt="Coloring Photo" height="500" style="display: none" />
        <img src="images/menCut04.jpg" class="col-12 navbar-banner" alt="Men's Cut Photo" height="500" style="display: none" />
        <img src="images/makeup01.jpg" class="col-12 navbar-banner" alt="Makeup Photo" height="500" style="display: none" />
        <div id="information" class="col-10">
        </div>
        <footer>
            <div class="col-4 align-left">&copy; Copyright 2018</div>
            <div class="col-8 align-right">
                <h3>Please like our page!</h3>
                <a href="https://www.facebook.com/karli.hansen.737" target="_blank">
                    <img class="icon" src="/images/facebook-icon.png"
                         alt="Facebook icon">
                </a>
                <a href="https://www.instagram.com/karlihansen_hhn/" target="_blank">
                    <img class="icon" src="/images/instagram-icon.png"
                         alt="Instagram icon">
                </a>
            </div>
        </footer>
    </div>
</body>
</html>
<script src="banner.js"></script>
<script src="createManagerLogin.js"></script>
<script src="createManagerAppointments.js"></script>
<script src="createManagerProducts.js"></script>
<script>
    window.onload = function createPage() {
        // Create the banner images and rotate every 3 seconds
        centerBannerImage(images[0]);
        this.setInterval(changeBanner, 3000);
        // Create the desired page
        switch (window.location.pathname) {
            case '/Manager-Appointments':
                createManagerAppointmentsPage();
                break;
            case '/Manager-Products':
                createManagerProductsPage();
                break;
            default:
                createManagerLoginPage();
                break;
        }
    }
</script>
