table {
    background-color: lightgray;
}

td, th {
    border:groove;
    border-color: black;
    font-size: 18px;
}

.filled {
    background-color: deeppink;
}

td a {
    color: black;
}

#appointmentChart {
    text-align: center;
}